.logo{
    display: inline-block;
    height: 80px;
    width: 150px;

    background-image: url(../assets/images/bb.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;

}