/* You can add global styles to this file, and also import other style files */
body{
    background-color: #0a0a0a;
    color: #f5f5f5;
    font-family: 'Lato', 'Arial', sans-serif;
}

.navbar{
    padding: 15px;
    
    background-color: transparent;

    &-nav{
        margin-left: 15px;

        li{
            a{
                color: rgba(245, 245, 245, 0.5);

                &:active{
                    color: rgba(245, 245, 245, 1);
                }

                &.active{
                    color: rgba(245, 245, 245, 1);
                }
            }
        }
    }
}

.card{
    background-color: #0a0a0a;
}

.area{
    padding: 80px 0;
}

.text{
    &-title{
        font-size: 1.6rem;
        font-weight: 700;

        text-align: center;
    }
}